<md-card class="item" [class.active]="isActive">
  <md-card-header>
    <button md-mini-fab class="play_button" (click)="play()">
      <md-icon class="md-24">{{ isPlaying() ? 'pause' : 'play_arrow' }}</md-icon>
    </button>
    <md-card-title>
      {{ podcast.title }}
    </md-card-title>
    <md-card-subtitle>
      {{ podcast.description }}
    </md-card-subtitle>
  </md-card-header>
  <md-card-footer>
    <app-seeker 
      (onSeek)="onSeek($event)" 
      [enabled]="isActive"
      [total]="duration" 
      [position]="currentTime" 
      >
    </app-seeker>
  </md-card-footer>
</md-card>