
@import '~@angular/material/core/theming/theming';
@import 'src/dark-theme.scss';

.slider {
  position: relative;
  height: 2px;
  width: 100%;
  background: md-color($dark-accent, 100);
  transition: height 0.25s;
  margin-bottom: 7px;
}

.slider.active {
  height: 20px;
  cursor: pointer;
}

.thumb {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: md-color($dark-primary, 200);
}

.thumb:after {
  content: '';
  position: absolute;
  width: 12px;
  top: 0;
  bottom: 0;
  background: md-color($dark-accent, 400);
}