
@import '~@angular/material/core/theming/theming';
@import 'src/dark-theme.scss';

.slider {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  background: md-color($dark-accent, 100);
  transition: height 0.25s;
}

.slider.active {
  height: 20px;
  cursor: pointer;
}

.thumb {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: md-color($dark-primary, 200);
}

.thumb:after {
  content: '';
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
  background: md-color($dark-warn, 400);
  z-index: 10;
}


.stops {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.seekerStop {
  width: 1px;
  background: md-color($dark-primary, 100);
  height: 3px;
  position: absolute;
}

.seekerStop:nth-child(10n) {
  height: 8px;
}

.seekerStop:nth-child(60n) {
  height: 11px;
  width: 3px;
}