md-card {
    margin: 10px;
}

.item-container {
    position: relative;
}

.item {
    filter: brightness(0.8);
}

.active .item {
    filter: brightness(1);
}

hr {
    margin: 30px auto;
    width: 20rem;
    border-color: rgb(125, 125, 125);
}